.container {
  grid-area: message;
  text-align: end;
}

.name {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 8px;
  margin-right: 16px;
}

.text {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  margin-right: 16px;
  padding: 6px;
  min-height: 24px;
  min-width: 64px;
  border-radius: 12px;
}
